<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mapp">
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MApp">

        <meta-data
            android:name="omdb.apikey"
            android:value="1790e8dc" />

        <activity android:name="com.example.movies.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.movies.SearchForMoviesActivity"
            android:label="@string/title_activity_search_for_movies">
        </activity>

        <activity
            android:name="com.example.movies.SearchForActorActivity"
            android:label="@string/title_activity_search_for_actor">
        </activity>

        <activity
            android:name="com.example.movies.SearchMoviesInWebActivity"
            android:label="@string/title_activity_search_movies_in_web">
        </activity>

    </application>

</manifest>